.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 10s linear;
  width: 30px;
  border: none;
}

.App-header {
  background-color: #fff;
  height: 70px;
  padding: 35px;
  color: #000;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: black;
}
a {
  text-decoration: none;
  text-decoration-color: black;
}
img {
  max-width: 200px;
  padding: 5px;
  border: 2px solid gold;

}
input {
  height: 50px;
  width: 70%;
  border: 1px solid lightgrey;
  border-radius:10px;
  font-size: 2rem;
}

.moviePoster {
  width: 20%;
  float: right;
  display: inline;
  padding: 20px;
}

.movieInfo {
  text-align: left;
  padding: 20px;
  width: 70%;
  float: left;
  display: inline;
}

.movieInfo .row {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid gray;
}

.row div {
  display: inline;

}
.row div:first-child {
  font-weight: bold;
  text-align: right;
  width: 15%;
  display: inline-block;
  margin: 0 5px 0 0;
}

.invisible {
  display: none;
}

.visible {
  display: block;
}

.movieItem {
  display: block;
  /* border: 1px solid green; */
  text-decoration: underline;
}

