.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 10s linear;
  height: 80px;
}

.App-header {
  background-color: #fff;
  height: 150px;
  padding: 25px;
  color: #000;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.movieList {
  border: 1px solid red;
}

.movieInfo {
  display: none;
}
.movieInfo:hover {
  display: block;
  border: 3px solid black;
}

.movieItem {
  display: block;
  border: 1px solid green;
  text-decoration: underline;
}
.movieItem:hover {
  display: block;
  border: 3px solid black;
}
